.typo {
    font-family : 'RocknRoll One', 'sans-serif';
    color: rgb(65, 65, 65);
    font-size: 2rem;
}

#container-search-properties{
    background-color: #f1f1f1c2;
}

@media screen and (max-width: 956px){
    .typo {
        font-size: 1.5rem
    }
}

@media screen and (max-width: 640px){
    .typo {
        font-size: 1.3rem
    }
}

@media screen and (max-width: 580px){
    .typo {
        font-size: 1.1rem
    }
}

@media screen and (max-width: 508px){
    p{
        text-align: center!important;
    }
}

@media screen and (max-width: 340px){
    .typo {
        font-size: 1.0rem
    }
}

@media screen and (max-width: 284px){
    .typo {
        font-size: 0.9rem
    }
}