<div class="container py-5" *ngIf="property">
    <h1 class="display-4"></h1>
    <hr class="bg-dark mb-4 mt-2">
    <div class="row">
        <div class="col-md-6">
            <div *ngIf="property.photos.length === 1">
                <div *ngFor="let photo of property.photos; let first = first" class="img-fluid">
                    <img [src]="photo" alt="photo du bien en vente" class="w-100"/>
                </div>
            </div>
            <ngb-carousel class="mb-3" *ngIf="property.photos.length > 1">
                <ng-template ngbSlide *ngFor="let photo of property.photos; let first = first; let i = index">
                    <div class="picsum-img-wrapper">
                        <img class="d-block w-100" [src]="property.photos[i]" alt="Photo du bien">
                    </div>
                </ng-template>
            </ngb-carousel>

        </div>
        <div class="col-md-6">
            <h2 class="font-weight-normal mb-2">{{ property.title }}</h2>
            <p *ngIf="property.reference && property.reference !== ''" class="text-muted">ref - {{ property.reference}}</p>
            <h3 class="font-weight-normal">{{property.price}} €</h3>
            <div class="d-flex">
                <div class="col-5 p-0">
                    <p class="mb-2">
                        <span *ngIf="property.surface && property.surface !== ''">{{ property.surface}} m²</span>
                    </p>
                    <p class="mb-2">
                        <i class="fas fa-bed"></i>
                        <span *ngIf="property.bedrooms && property.bedrooms !== ''" class="ml-2">{{ property.bedrooms}}</span>
                    </p>
                </div>
                <div class="col-6">
                    <p class="mb-2">
                        <span *ngIf="property.rooms && property.rooms !== ''">{{ property.rooms }} pc(s)</span>
                    </p>
                    <p class="mb-2">
                        <i class="fas fa-bath"></i>
                        <span *ngIf="property.bathrooms && property.bathrooms !== ''" class="ml-2">{{ property.bathrooms}}</span>
                    </p>
                </div>
            </div>
            <p class="font-weight-light">
                {{ property.description }}
            </p>
            <h3 class="font-weight-normal text-danger" *ngIf="property.sold">Vendu!</h3>
            <h3 class="font-weight-normal text-success" *ngIf="!property.sold">A vendre !</h3>
        </div>
    </div>
</div>
