<div class="container">
    <h1 class="display-5 pt-5 mb-0 typo">tableau de bord</h1>
    <hr class="mt-0 mb-5 bg-dark">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">

        <li [ngbNavItem]="1">
            <a ngbNavLink>
                <div class="font-weight-light typo" class="options-dashboard">
                    <i class="fas fa-home mr-2"></i> <span class="typo">Biens</span>
                </div> 
            </a>
            <ng-template ngbNavContent>
                <div class="row" ngbNavContent>
                    <div class="col-12">
                        <app-admin-properties></app-admin-properties> 
                    </div>
                </div>
            </ng-template>
        </li>

        <li [ngbNavItem]="2" [destroyOnHide]="true">
            <a ngbNavLink>
                <div class="font-weight-light typo" class="options-dashboard">
                    <i class="fas fa-user-alt mr-2"></i> <span class="typo">Agents</span>
                </div> 
            </a>
                <ng-template ngbNavContent>
                    <div class="row" ngbNavContent>
                        <div class="col-12">
                            <app-admin-agent ></app-admin-agent> 
                        </div>
                    </div>
                </ng-template>
        </li>

    </ul>

    <div [ngbNavOutlet]="nav" class=""></div>

</div>