
#section-1{
    height: 80vh;
    background-image: linear-gradient(rgba(87, 81, 81, 0.356) 0%, rgba(88, 85, 85, 0.247)), url(../../../assets/images/ville-place.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

#section-2 h3{
    font-family: 'RocknRoll One', 'sans-serif';
}

.titre-section-2 {
    color: rgb(65, 65, 65);
}

@media screen and (max-width: 508px){
    #app-search {
        width: 75%!important;
    }
}

@media screen and (max-width: 320px){
    #app-search {
        width: 85%!important;
    }
}

@media screen and (max-width: 265px){
    #app-search {
        width: 90%!important;
    }
}

@media screen and (max-width: 566px){
    .titre-section-2 {
        font-size: 1.5rem!important;
    }
}

@media screen and (max-width: 490px){
    .titre-section-2 {
        font-size: 1.2rem!important;
    }
}